footer {
    width: 100%;
    height: 50px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    h2 {
      font-size: 20px;
    }
  }
  
  .redesSociales {
    display: flex;
    align-items: flex-end center;
  }
  
  .iconoRedes {
    height: 30px;
  }
  