header{
    max-width: 100%;
    width: 100%;
}

body{
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;

}

.nav-link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(210, 210, 210);
    font-size: 25px;
}

.colorFondo{
    background-color: rgb(8, 8, 160);
}

.logo10{
    height: 90px;
}
