main {
    width: 100%;
  
    h1 {
      color: coral;
      margin-bottom: 15px;
      margin-left: 15px;
    }
    
    h2 {
        color: coral;
        margin-bottom: 15px;
        margin-left: 15px;
      }
      

    p {
      color: rgb(119, 119, 119);
      text-align: justify;
    }
  }
