@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "header";
@import "main";
@import "general";
@import "body";
@import "footer";

$ancho: 100%;

@media only screen and (min-width: 0px) and (max-width: 867px){


    .logo10{
        width: $ancho;
        
    }
    
    footer {
        width: $ancho;
        flex-direction: column;
        margin-top: 130px;
    }

    h2 {
        font-size: 100%;
      }

    .redesSociales {
        flex-direction: column;
        justify-content: space-around;
      }

    #cuerpoIndex{
        grid-template-areas:
            " queEs"
            " dondeJuega"
            "imgPerfiles"
            "imgPerfiles"
            "imgPerfiles";

            grid-template-rows: 2fr 1fr 1fr 1fr 1fr; 
            grid-template-columns: 1fr;
            justify-content: center;
            align-content: center;
    }



    #queEs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 100px;
        margin-right: 50px;
    }

    #dondeJuega{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 200px;
        
    }

    #imgPerfiles{
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin-left: 0%;
        width: 5%;
    }
   
    #cuerpoPele{
        grid-template-areas:
           " titlePele"
           " peleCopas"
           " vidaPele"
           " estadisticasPele";

            
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
    }
    
    

    #vidaPele{
        display: flex;
        align-items: center;
        justify-items: center;
        width: $ancho;
    }
    #videoPele{
        display: none !important;
    }
    #estadisticasPele{
        margin-left: 0px;
        width: $ancho;
        margin-right: 0px;
        justify-content: center;
    }
    .imgPele{
        width: $ancho;
        
    }

    #cuerpoDiego{
        grid-template-areas:
           " titleDiego"
           " diegoCopas"
           " vidaDiego"
           " videoDiego"
           " estadisticasDiego";

            
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }
    #titleDiego{
        
        margin-left: 0px;
        margin-right: 0px;
        width: $ancho;
        align-content: center;
        
    }

    #estadisticasDiego{
        margin-left: 0px;
        width: $ancho;
    }

    .imgDiego{
        width: 80%;
        
    }

    #videoDiego{
        display: none !important;
    }

    #cuerpoMessi{
        grid-template-areas:
           " titleMessi"
           " messiCopas"
           " vidaMessi"
           " videoMessi"
           " estadisticasMessi";

            
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    #titleMessi{
        margin-left: 0px;
        margin-right: 30px;
        width: $ancho;
    }

    #estadisticasMessi{
        margin-left: 0px;
        width: $ancho;
    }

    #videoMessi{
        display: none !important;
    }

    #cuerpoRetirados{
    
        
        max-width: 90%;
        width: $ancho;
        margin-top: 10px;
        display: grid;
        flex-direction: column;
        margin-bottom: 150px;

        grid-template-areas:
             
            " comoEran comoEran"
            " jugRetirados"
            " jugRetirados"
            " jugRetirados"
            " jugRetirados"
            " jugRetirados"
            " jugRetirados";
     
        grid-template-columns: 1fr;
        
        }
    
    #jugRetirados{
        width: $ancho;
        
    }
    .contact_form{
      width: $ancho;
      
    }

    h1{
        font-size: 100%;
    }
    textarea{
        width: $ancho;
    }

    button{
        width: $ancho;
    }

    input{
        width: $ancho;
    }

}


@media only screen and (min-width: 0px) and (max-width: 1024px){

    #imgPerfiles{
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

}
