@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "header";
@import "main";
@import "general";
@import "body";
@import "footer";


/*------------Responsive-------------*/

@media only screen and (min-width: 0px) and (max-width: 867px){

    footer {
        width: 100%;
    }
    #cuerpoIndex{
        grid-template-areas:
            " queEs"
            " dondeJuega"
            "imgPerfiles"
            "imgPerfiles"
            "imgPerfiles";

            grid-template-rows: 2fr 1fr 1fr 1fr 1fr; 
            grid-template-columns: 1fr;
            justify-content: center;
            align-content: center;
    }



    #queEs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 100px;
        margin-right: 50px;
    }

    #dondeJuega{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-left: 200px;
        
    }

    #imgPerfiles{
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin-left: 0%;
        width: 5%;
    }
   
    #cuerpoPele{
        grid-template-areas:
           " titlePele"
           " peleCopas"
           " vidaPele"
           " videoPele"
           " estadisticasPele";

            
        grid-template-columns: 1fr;
        
    }
    
    

    #vidaPele{
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100%;
    }
    #videoPele{
        display: flex;
        align-items: center;
        justify-items: center;
        width: 100%;
    }

    .imgPele{
        width: 80%;
        
    }

    #cuerpoDiego{
        grid-template-areas:
           " titleDiego"
           " diegoCopas"
           " vidaDiego"
           " videoDiego"
           " estadisticasDiego";

            
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
    }
    #titleDiego{
        
        margin-left: 0px;
        margin-right: 0px;
        
        align-content: center;
        
    }

    
    .imgDiego{
        width: 80%;
        
    }

    #cuerpoMessi{
        grid-template-areas:
           " titleMessi"
           " messiCopas"
           " vidaMessi"
           " videoMessi"
           " estadisticasMessi";

            
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
    }
    #titleMessi{
        margin-left: 0px;
        margin-right: 30px;
        
    }

    

    

    #cuerpoRetirados{
    
        margin-left: 10%;
        max-width: 90%;
        width: 65%;
        margin-top: 100px;
        display: grid;
        
        grid-template-areas:
             
            " comoEran comoEran"
            " jugRetirados"
            " jugRetirados"
            " jugRetirados"
            " jugRetirados"
            " jugRetirados"
            " jugRetirados";
     
        grid-template-columns: 1fr;
           
        }
    
    .containerContacto{
      width: 60%;
      margin-left: 25%;
    }
}


@media only screen and (min-width: 0px) and (max-width: 1024px){

    #imgPerfiles{
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

}
